/* Style for the Adverts */

.adds p{
    padding: 10px 10px;
    display: flex;
    color: darkgray;
}

.gallery-container {
    width: 100%;
    overflow: hidden;
}

.marquee-container {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.marquee-container img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

@keyframes marquee {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-90%);
    }
    
}