{% extends 'navbar.html' %}

{% block head %}
<title>Customers Management</title>
{% endblock %}

{% block body %}
<hr/>
<div class="customer_list">
    <h1>All customers</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>surname</th>
            <th>otherName</th>
            <th>firstName</th>
            <th>email</th>
            <th>phone</th>
            <th>created_time_date</th>
            <th>Nationality</th>
            <th>state</th>
            <th>localGovt</th>
            <th>address</th>
            <th>password</th>
            <th>Action</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer[0] }}</td>
            <td>{{ customer[1] }}</td>
            <td>{{ customer[2] }}</td>
            <td>{{ customer[3] }}</td>
            <td>{{ customer[4] }}</td>
            <td>{{ customer[5] }}</td>
            <td>{{ customer[6] }}</td>
            <td>{{ customer[7] }}</td>
            <td>{{ customer[8] }}</td>
            <td>{{ customer[9] }}</td>
            <td>{{ customer[10] }}</td>
            <td>{{ customer[11] }}</td>
            <td>
                <a href="{{url_for('delete_customer', customer_id=customer[0])}}" onclick="return confirm('Are you sure you want to delete this customer?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}