<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
</head>
<body>
    <h1>Customer Form</h1>
    <form action="/submit" method="POST">
        <label for="surname">Surname:</label><br/>
        <input type="text" id="surname" name="surname"/><br/>

        <label for="otherName">Other Name:</label><br/>
        <input type="text" id="otherName" name="otherName"/><br/>

        <label for="firstName">Last Name:</label><br/>
        <input type="text" id="firstName" name="firstName"/><br/>

        <label for="email">Email:</label><br/>
        <input type="email" id="email" name="email"/><br/>

        <label for="phone">Phone Number:</label><br/>
        <input type="text" id="phone" name="phone"/><br>

        <label for="nationality">Nationality:</label><br/>
        <input type="text" id="nationality" name="nationality"/><br/>

        <label for="state">State:</label><br/>
        <input type="text" id="state" name="state"/><br/>

        <label for="localGovt">Local Govt:</label><br/>
        <input type="text" id="localGovt" name="localGovt"/><br/>

        <label for="address">Address:</label><br/>
        <input type="text" id="address" name="address"/><br/>

        <label for="password">Password:</label><br/>
        <input type="text" id="password" name="password"/><br/>

        <input type="submit" value="Submit"/>
    </form>
    <hr>

    <h1>Customer List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Surname</th>
                <th>Other Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Created Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[5] }}</td>
                <td>{{ customer[6] }}</td>
                <td>
                    <a href="{{ url_for('update', id=customer[0]) }}">Update</a>
                    <a href="{{ url_for('delete', id=customer[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

