<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
</head>
<body>
    <h1>Customer Form</h1>
    <form action="/submit" method="POST">
        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" name="surname"><br>

        <label for="other_name">Other Name:</label><br>
        <input type="text" id="other_name" name="other_name"><br>

        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number"><br>

        <label for="product_id">Product ID:</label><br>
        <input type="text" id="product_id" name="product_id"><br>

        <label for="nationality">Nationality:</label><br>
        <input type="text" id="nationality" name="nationality"><br>

        <label for="state_province">State/Province:</label><br>
        <input type="text" id="state_province" name="state_province"><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>

        <input type="submit" value="Submit">
    </form>
    <hr>

    <h1>Customer List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Surname</th>
                <th>Other Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Created Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[5] }}</td>
                <td>{{ customer[6] }}</td>
                <td>
                    <a href="{{ url_for('update', id=customer[0]) }}">Update</a>
                    <a href="{{ url_for('delete', id=customer[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

