<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if mode == "desktop" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='desktop.css') }}">
    {% elif mode == "mobile" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    {% endif %}
    <title>Hancho</title>
</head>
<body>
    <div class="navbar">
        <h1 class="logo">HANCHO</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Software</a></li>
            <li><a href="#">Hardware</a></li>
        </ul>
    </div>
    <div class="background">
        <h1 class="heading">ZARA'U TEXTILES SHOP</h1>
        <div id="cards">

            </div>
        </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
